.style-x-small-text {
	font-size: x-small;
}

.right-menu,
.style-text-body {
	font-size: small;
}

.style-text-header {
	font-size: medium;
}

li.right-menu {
	list-style: none;
}
ul.riht-menu {
}

body {
	background-color: #CECECE;
    font-family: Arial, Helvetica, sans-serif;
}
td {
	vertical-align: top;
	background-repeat: repeat-y;
	/*background-size: 100%;*/
	background-color: #FFFFFF
}

a:visited,
a {
	text-decoration: none;
	color: #4B5320;
}

a:hover {
	text-decoration: underline;
	color: #4B5320;
}

a.header_link {
    color: #FFFFFF;
    font-family: Century Gothic, Arial, Helvetica, sans-serif;
}

a.header_link:hover,
a.header_link {
    text-decoration: none;
}
a.header_link:hover {
    color: #570D14;
}

#copyright {
	text-align: center;
	color: #666666;
	font-size: 9px;
}

/*#intelligence {
	border: solid;
    border-image: url("images/index_07.jpg") 0 100% 100% 0;
    float: left;
}
#intelligence:hover {
	border: solid;
    border-image: url("images/index_07-over.jpg") 0 100% 100% 0;
    float: left;
}

#planning {
	border: solid;
    border-image: url("images/index_10.jpg") 0 100% 100% 0;
    float: left;
}
#planning:hover {
	border: solid;
    border-image: url("images/index_10-over.jpg") 0 100% 100% 0;
    float: left;
}

#simulation {
	border: solid;
    border-image: url("images/index_11.jpg") 0 100% 100% 0;
    float: left;
}
#simulation:hover {
	border: solid;
    border-image: url("images/index_11-over.jpg") 0 100% 100% 0;
    float: left;
}

#architectures {
	border: solid;
    border-image: url("images/index_12.jpg") 0 100% 100% 0;
    float: left;
}
#architectures:hover {
	border: solid;
    border-image: url("images/index_12-over.jpg") 0 100% 100% 0;
    float: left;
}

#algorithms {
	border: solid;
    border-image: url("images/index_13.jpg") 0 100% 100% 0;
    float: left;
}
#algorithms:hover {
	border: solid;
    border-image: url("images/index_13-over.jpg") 0 100% 100% 0;
    float: left;
}

#collaboration {
	border: solid;
    border-image: url("images/index_14.jpg") 0 100% 100% 0;
    float: left;
}
#collaboration:hover {
	border: solid;
    border-image: url("images/index_14-over.jpg") 0 100% 100% 0;
    float: left;
}*/

/*This is the menu bar on the left (for Index.html)!*/
ul.side_menu_index {
	text-align: right;
	width: 109px;
	direction: rtl;
	list-style: none;
}

li.side_menu_index {
	font-weight: bold;
	font-size: 12px;
	width:106px;
}

li.side_menu_index:hover {
	background: #CECECE;
}

li.side_menu_index:before {
	font-size: bold;
	content: '\2022\A0';
	color: red;
}

/*This is the menu bar on the left (for other files)!*/
ul.side_menu {
	text-align: right;
	width: 130px;
	direction: rtl;
	list-style: none;
}

li.side_menu {
	font-weight: bold;
	font-size: 12px;
	width:126px;
}

li.side_menu:hover {
	background: #CECECE;
}

li.side_menu:before {
	font-size: bold;
	content: '\2022\A0';
	color: red;
}

a.side_menu {
	color: black;
}
a.side_menu:hover {
	color: black;
	text-decoration: none;
	background: #CECECE;
}

/*This is the top/header menu bar!*/
ul.menu {
	font-size: 12px;
	font-family: Century Gothic, Arial, Helvetica, sans-serif;
	float: right;
	list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li.menu {
	font-size: 12px;
	font-family: Century Gothic, Arial, Helvetica, sans-serif;
	display: inline;
}
li.menu:before{
	font-size: 12px;
	color: #FFFFFF;
	content: " | ";
}
li.menu:first-child:before {
	content: none;
}

table.menu {
	float: right;
	border-collapse: collapse;
	border: 2px solid;
}
td.menu {
	background: green;
	border:1px solid white;
}

.header_table {
	border-spacing: 0px;
    border-collapse: collapse;
	border: 0px solid black;
	padding: 0px;
	color: #CECECE;
}

table.header_table {
	color: #CECECE;
	margin-left:auto;
	margin-right:auto;
}

html {
     overflow: -moz-scrollbars-vertical;
     overflow: scroll;
}
