.style-x-small-text {
	font-size: x-small;
}

.style-text-body {
	font-size: small;
}

.style-text-header {
	font-size: medium;
}

body {
	background-color: #CECECE;
    font-family: Arial, Helvetica, sans-serif;
}
td {
	vertical-align: top;
	background-repeat: repeat-y;
	background-color: #FFFFFF
}

.menu_break {
    color: #FFFFFF;
    font-family: Century Gothic, Arial, Helvetica, sans-serif;
}

.header_link {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Century Gothic, Arial, Helvetica, sans-serif;
}
.header_link:hover {
	text-decoration: none;
    color: #570D14;
}

#copyright {
	text-align: center;
	color: #666666;
	font-size: 9px;
}

a {
	text-decoration: none;
}

#intelligence {
	border: solid;
    border-image: url("images/index_07.jpg") 0 100% 100% 0;
    float: left;
}
#intelligence:hover {
	border: solid;
    border-image: url("images/index_07-over.jpg") 0 100% 100% 0;
    float: left;
}

#planning {
	border: solid;
    border-image: url("images/index_10.jpg") 0 100% 100% 0;
    float: left;
}
#planning:hover {
	border: solid;
    border-image: url("images/index_10-over.jpg") 0 100% 100% 0;
    float: left;
}

#simulation {
	border: solid;
    border-image: url("images/index_11.jpg") 0 100% 100% 0;
    float: left;
}
#simulation:hover {
	border: solid;
    border-image: url("images/index_11-over.jpg") 0 100% 100% 0;
    float: left;
}

#architectures {
	border: solid;
    border-image: url("images/index_12.jpg") 0 100% 100% 0;
    float: left;
}
#architectures:hover {
	border: solid;
    border-image: url("images/index_12-over.jpg") 0 100% 100% 0;
    float: left;
}

#algorithms {
	border: solid;
    border-image: url("images/index_13.jpg") 0 100% 100% 0;
    float: left;
}
#algorithms:hover {
	border: solid;
    border-image: url("images/index_13-over.jpg") 0 100% 100% 0;
    float: left;
}

#collaboration {
	border: solid;
    border-image: url("images/index_14.jpg") 0 100% 100% 0;
    float: left;
}
#collaboration:hover {
	border: solid;
    border-image: url("images/index_14-over.jpg") 0 100% 100% 0;
    float: left;
}

ul.menu {
	font-size: 12px;
	font-family: Century Gothic, Arial, Helvetica, sans-serif;
	float: right;
	list-style-type: none;
    margin: 0;
    padding: 0;
}

li.menu {
	font-size: 12px;
	font-family: Century Gothic, Arial, Helvetica, sans-serif;
	display: inline;
}
li.menu:before{
	font-size: 12px;
	color: #FFFFFF;
	content: " | ";
}
li.menu:first-child:before {
	content: none;
}

table.menu {
	float: right;
	border-collapse: collapse;
	border: 2px solid;
}
td.menu {
	background: green;
	border:1px solid white;
}

a:hover {
	text-decoration: underline;
}
